* {box-sizing: border-box;}
body{background-color: black; color: white; font-family: "Fraunces", san-serif;
font-family: "Montserrat", sans-serif; margin:0;} 
a{color:white; text-decoration:none;}


/* Start First Section */
.header{padding:20px 20px 10px 20px; display:flex; justify-content:space-between;}
.name{letter-spacing:-1px; font-family: "Prata", serif; }
.links{display:none;}
.links a{color:white; text-decoration:none; padding:10px;}
.touch{ background-color: yellow; padding: 8px; color: black; display:none; font-family:"Prata", serif;}
.hamburger{float:right;}
@media  screen and (min-width:550px) {  .header{padding:20px 60px 20px 60px; justify-content:space-between;} 
.links{ display:none;} 
.touch{display:none;}  }
@media screen and (min-width:850px) { .header{padding:40px 70px 20px 70px; } .links{display:inline;}
 .touch{display:inline;} 
.hamburger{display:none;} .name{font-size:small;} }
/* End Of First Section */

/* Start Second Section */
.content{ padding:10px 20px 20px 20px; }
.content h4{font-size: 30px; margin-bottom:0px;  font-family:"Prata", serif; font-weight: normal;}
.content p{font-size:15px; line-height:1.6; font-family: "Inter", sans-serif; color: rgb(182, 182, 182);}
@media screen and  (min-width:550px) { .content{ padding: 5px 60px 10px 60px;} .content h4{ font-size: 4vw;} 
.content p{font-size:2vw;} }
@media screen and (min-width:850px) { .content{ padding: 10px 70px 20px 70px; max-width:750px;} 
.content h4{font-size:3vw;} .content p{font-size:1vw; max-width:500px; } }
/* End Of Second Section */

/* Start Third Section */
.logo{ display:flex; flex-wrap:wrap; justify-content:center; width:85%; margin:auto; margin-bottom:65px;}
.logos { align-items:center; padding:11px; }
@media screen and (min-width:550px) { .logo{ justify-content:space-around; margin:auto; width:85%;} 
.logos { align-items:center; padding-right:45px; padding-left:45px; } }
@media screen and (min-width:850px) {  .logo{ padding: 10px 70px 20px 70px; width:100%; justify-content:space-between;  }
 .logos{ padding:0px;}  }
/* End Of Third Section */

/* Start Fourth Section */
.fourth{padding:10px 20px 10px 20px;}
.pics{display:flex; flex-direction:column;}	
.img{width:100%; margin-bottom:10px;}
.image{ flex:1; margin-bottom:50px;}
.pics p {font-size:15px; line-height:1.6; font-family:"Inter", sans-serif; color: rgb(182, 182, 182); }
.pics a{font-size:30px; font-family:  "Prata", serif;}
@media screen and (min-width:550px) {.pics p{ font-size:2vw; }  .pics a{font-size:3vw;} } 
@media screen and (min-width:850px){.fourth {padding:10px 70px 20px 70px;} .pics{ flex-direction:row; gap:50px;}
 .pics p{font-size:1vw; line-height:1.6;  }
.pics a{font-size:2vw;} }
/* End Of Fourth Section */

/* Start Fifth Section */
.information{background-color:#2e3038;  }
 .first{display:flex; flex-direction:column; padding: 10px 20px 10px 20px; }
.info p{font-size:15px; line-height:1.6; font-family: "Inter", sans-serif; color: rgb(182, 182, 182);}
.info h2{font-size:30px; font-family: "Prata", serif; font-weight: normal;}
@media screen and (min-width:550px) { .info p{font-size:2vw;} .info h2{font-size:3vw; }  }
@media  screen and (min-width:850px) { .first{ flex-direction:row; gap:50px;  padding:10px 70px 20px 70px; 
 justify-content:space-between;}  .info2{ margin-left: 22px; margin-top: 10px;} .info h2{font-size:2vw; } 
 .info p{font-size:1vw; line-height:1.6;} }
/* End Of Fifth Section */

/* Start Sixth Section */
.second{ padding:10px 20px 20px 20px;}
.second p{font-size:15px; line-height:1.6; margin-top:0px; font-family:"Inter", sans-serif; color: rgb(182, 182, 182);}
.second h2{font-size:30px; margin-bottom:0px; font-family: "Prata", serif; font-weight: normal; }
.get{background-color: yellow; padding: 6px; color: black; }
@media screen and (min-width:550px) {.second p{font-size:2vw; } .second h2{font-size:3vw; } }
@media screen and (min-width:850px) { .second{ padding:40px 70px 40px 70px; } 
 .second h2{max-width:550px; font-size:2vw; }  .second p{max-width:400px; font-size: 1vw; }   }
/* End Of Sixth Section */

/* Start Seventh Section */
.seventh{background-color: #2e3038;  padding:0px 20px 0px 20px; }
.footer{display:flex; justify-content:space-between;  align-items:center;
 align-content:center; }
.socials img{margin-right:5px; border-radius:50%;}
@media screen and (min-width:850px) {  .seventh{padding:0px 70px 0px 70px; }    } 
/* End Of Seventh Section */